body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
}
button {
    background: linear-gradient(135deg, #2c3e50, #466380);
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 20px;
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.table-container table {
    margin: 0 auto;
    border-collapse: collapse;
}
table {
    width: 60%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}
th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
th {
    background: linear-gradient(135deg, #2c3e50, #466380);
    color: white;
}
tr:hover {
    background-color: #f1f1f1;
}
button:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.container {
    display: flex;
    justify-content: center; /* Centra los elementos en la fila */
    gap: 20px; /* Espaciado entre los elementos */
    margin: 20px;
    flex-wrap: nowrap; /* Evita que los elementos se muevan a una nueva fila */
    overflow-x: auto; /* Permite el desplazamiento horizontal si no hay suficiente espacio */
}
.camera {
    flex: 1; /* Hace que los elementos ocupen el mismo ancho */
    max-width: 45%; /* Limita el ancho de cada elemento para que quepan en una fila */
    border: 2px solid #2c3e50;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centra el contenido dentro de cada cámara */
}
.camera img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}
footer {
    margin-top: auto;
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;
}